<style>
 h1 {text-align:center;}
 h2 {text-align:center;}
</style>
<p><font color="mediumseagreen">
<h1> <%= @car.name%></h1>
<h2> <%= @car.model%></h2>
</p>
</font>
<h3> Car Reviews </h3>
<% @car.reviews.each do |review| %>
<p>
  <%=review.content %> <br>
  <font color="teal">Car review:</font><%= review.car_id%><br>

  <% if review.user %>
  <font color="teal"> Written by:</font><%= review.user.name%><br>

  <% if logged_in? and review.user == current_user %>
  <a href="/reviews/<%=review.id%>/edit">Edit review</a><br>
  <a href="/reviews/<%=review.id%>/delete">Delete review</a>
  <% end %>
  <% end %>
</p>
<% end %>

<p><a href="/reviews/<%=@car.id%>/new">Add review</a></p>
<p><a href="/cars"> Back to cars page </a></p>
<a href="/logout">Log out</a>
